<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
<head> 
   <title>Login page</title> 
</head> 
<body> 
   <h2>Welcome to the quiz. Please login first.</h2> 
   <form action="/login" method="post">
      <label for="user">Login:</label>
      <input type="text" id="user" name="user" required><br><br>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required><br><br>

      <input type="submit" value="Continue">
   </form>

</body> 
</html>